@define-color bg @background;
@define-color fg @foreground;
@define-color textcolor @cursor;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'MonaSpace Krypton NF', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @cursor;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    padding: 0 5px;
    background-color: @bg;
    color: @cursor;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: #e8eaed;
    color: #000000;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 13px;
    color: @cursor;
    margin: 0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    transition: 0.2s ease-in-out;
    background-color: @bg ;
    color: @cursor;
}

#battery {
    transition: 0.2s ease-in-out;
    background-color: @bg;
    color: @cursor;
}

#battery.charging,
#battery.plugged {
    color: @cursor;
    background-color: @bg;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    background-color: @bg;
    transition: 0.2s ease-in-out;
    padding-right: 15px;
    color: @cursor;
}

#power-profiles-daemon.performance {
    background-color: @bg;
    color: @cursor;
}

#power-profiles-daemon.balanced {
    background-color: @bg;
    color: @cursor;
}

#power-profiles-daemon.power-saver {
    background-color: @bg;
    color: @cursor;
}

label:focus {
    background-color: @bg;
}

#cpu {
    background-color: @bg;
    color: @fg;
}

#memory {
    background-color: @bg;
}

#disk {
    background-color: @bg;
}

#backlight {
    transition: 0.2s ease-in-out;
    background-color: @bg;
}

#network {
    transition: 0.2s ease-in-out;
    background-color: @bg;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    transition: 0.2s ease-in-out;
    background-color: @bg;
    color: @cursor;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    transition: 0.2s ease-in-out;
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    transition: 0.2s ease-in-out;
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-spotify {
    background-color: @bg;
    color: @fg;
    min-width: 100px;
}
